# Package Files
package-lock.json

# generated Folders
/target/
/bin/
.settings/
node_modules/
generated_docs/
gen/
coverage/
/.vscode

# Node
.npm/
.config/
.node-gyp/
npm-debug.log

# Bash
.bash_history