name: Continous Integration

on:
  pull_request:
    branches:
      - master
      - main
jobs:
  build:
     name: Build, Lint Checks and Tests
     runs-on: ubuntu-latest
     steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}
      - name: Checkout  
        uses: actions/checkout@v3
      - name: Setup Node 
        uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: Install NPM dependencies
        run: npm install
      - name: Setup Java 
        uses: actions/setup-java@v4
        with:
          distribution: 'sapmachine'
          java-version: '17'
          check-latest: true
      - name: Start Mock Server 
        shell: bash
        run: |
         chmod +x "${GITHUB_WORKSPACE}/scripts/setup_mock.sh"
         "${GITHUB_WORKSPACE}/scripts/setup_mock.sh"
      - name: JSLint
        run: npm run lint
      - name: Tests
        run: npm run test
      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./test-results/coverage/all/lcov/lcov-all.info